$white: #fff;
$side_blue_dark: #253141;
$side_blue_light: #2f3e51;
$light_blue: #38AEF0;
$light_gray: #999;
$black: #434a54;
$alert_orange: #F35500;



// 自分で定義したやつ
$side_header_font: #ffffff;
$side_group_name: 15px;
$side_group_message: 11px;